<ng-template template-name="time">
  <mat-label>Time</mat-label>
  <mat-form-field>
    <mat-label>Start Time</mat-label>
    <input matInput [matTimepicker]="startTime" [formField]="feedingForm.startTime">
    <mat-timepicker-toggle matIconSuffix [for]="startTime"/>
    <mat-timepicker #startTime/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Time</mat-label>
    <input matInput [matTimepicker]="endTime" [formField]="feedingForm.endTime">
    <mat-timepicker-toggle matIconSuffix [for]="endTime"/>
    <mat-timepicker #endTime/>
  </mat-form-field>
</ng-template>

<ng-template template-name="breastSide">
  <mat-label>Breast Side</mat-label>
  <mat-chip-listbox multiple [formField]="feedingForm.breastSide" aria-label="Breast side">
    <mat-chip-option value="left">Left</mat-chip-option>
    <mat-chip-option value="right">Right</mat-chip-option>
  </mat-chip-listbox>
</ng-template>

<ng-template template-name="bottleSize">
  <mat-label>Bottle Size (oz)</mat-label>
  <mat-slider min="0" max="10" step=".5" showTickMarks discrete>
    <input matSliderThumb [formField]="feedingForm.bottleSize">
  </mat-slider>
</ng-template>

<ng-template template-name="milkType">
  <mat-label>Milk Type(s)</mat-label>
  <mat-chip-listbox multiple [formField]="feedingForm.milkType" aria-label="Milk type">
    <mat-chip-option value="breastmilk">Breastmilk</mat-chip-option>
    <mat-chip-option value="formula">Formula</mat-chip-option>
  </mat-chip-listbox>
</ng-template>

<ng-template template-name="milkConsumed">
  <mat-label>Milk Consumed (oz)</mat-label>
  <mat-slider min="0" max="10" step=".5" showTickMarks discrete>
    <input matSliderThumb [formField]="feedingForm.milkConsumed">
  </mat-slider>
</ng-template>

<ng-template template-name="notes">
  <mat-form-field>
    <mat-label>Notes</mat-label>
    <input matInput [formField]="feedingForm.notes">
  </mat-form-field>
  <div>
    <mat-label>Quick Notes</mat-label>
    <mat-chip-listbox multiple (change)="onQuickNotesChange($event)" aria-label="Feeding quick notes">
    @for ( note of quickNotes; track note.description ) {
      <mat-chip-option>{{ note.description }}</mat-chip-option>
    }
    </mat-chip-listbox>
  </div>
</ng-template>

<form>
  <mat-stepper #stepper>
    <mat-step>
      <mat-label>Feeding Type</mat-label>
      <mat-chip-listbox (change)="onFeedingTypeChange($event)" aria-label="Feeding type">
        <mat-chip-option value="breast">Breast</mat-chip-option>
        <mat-chip-option value="bottle">Bottle</mat-chip-option>
      </mat-chip-listbox>
    </mat-step>
    @for (step of allSteps; track step.name;) {
      <mat-step>
        <ng-container [ngTemplateOutlet]="step.templateRef"></ng-container>
      </mat-step>
    }
  </mat-stepper>
</form>
<br>
<div>
  <button matButton (click)="goBack()" [disabled]="stepper.selectedIndex === 0" type="button">Back</button>
  <button matButton (click)="goForward()" [disabled]="stepper.selectedIndex === stepper.steps.length-1" type="button">Next</button>
</div>
<div>
  <mat-dialog-actions>
    <button matButton mat-dialog-close>Cancel</button>
    <button matButton mat-dialog-close>Save</button>
  </mat-dialog-actions>
</div>
