<ng-template template-name="time">
  <mat-label>Time</mat-label>
  <mat-form-field>
    <mat-label>Start Time</mat-label>
    <input matInput [matTimepicker]="startTime" [formField]="feedingForm.startTime">
    <mat-timepicker-toggle matIconSuffix [for]="startTime"/>
    <mat-timepicker #startTime/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Time</mat-label>
    <input matInput [matTimepicker]="endTime" [formField]="feedingForm.endTime">
    <mat-timepicker-toggle matIconSuffix [for]="endTime"/>
    <mat-timepicker #endTime/>
  </mat-form-field>
</ng-template>

<ng-template template-name="breastSide">
  <mat-label>Breast Side</mat-label>
  <mat-chip-listbox multiple [formField]="feedingForm.breastSide" aria-label="Breast side">
    <mat-chip-option value="left">Left</mat-chip-option>
    <mat-chip-option value="right">Right</mat-chip-option>
  </mat-chip-listbox>
</ng-template>

<ng-template template-name="bottleSize">
  <mat-label>Bottle Size (oz)</mat-label>
  <mat-slider min="0" max="10" step=".5" showTickMarks discrete>
    <input matSliderThumb [formField]="feedingForm.bottleSize">
  </mat-slider>
</ng-template>

<ng-template template-name="milkType">
  <mat-label>Milk Type(s)</mat-label>
  <mat-chip-listbox multiple [formField]="feedingForm.milkType" aria-label="Feeding type">
    <mat-chip-option value="breastmilk">Breastmilk</mat-chip-option>
    <mat-chip-option value="formula">Formula</mat-chip-option>
  </mat-chip-listbox>
</ng-template>

<ng-template template-name="milkConsumed">
  <mat-label>Milk Consumed (oz)</mat-label>
  <mat-slider min="0" max="10" step=".5" showTickMarks discrete>
    <input matSliderThumb [formField]="feedingForm.milkConsumed">
  </mat-slider>
</ng-template>

<ng-template template-name="notes"></ng-template>

<form>
  <mat-stepper>
    <mat-step>
      <mat-label>Feeding Type</mat-label>
      <mat-chip-listbox (change)="onFeedingTypeChange($event)" aria-label="Feeding type">
        <mat-chip-option value="breast">Breast</mat-chip-option>
        <mat-chip-option value="bottle">Bottle</mat-chip-option>
      </mat-chip-listbox>
      <button mat-button matStepperNext type="button">Next</button>
    </mat-step>
    @for (step of stepType; track step.name; let last = $last) {
      <mat-step>
        <ng-container [ngTemplateOutlet]="step.templateRef"></ng-container>
        @if (last) {
          <button mat-button matStepperPrevious type="button">Back</button>
        } @else {
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        }
      </mat-step>
    }
  </mat-stepper>
</form>
