<ng-template template-name="time">
  <div>
    <mat-label>Time</mat-label>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input matInput [matTimepicker]="startTime" [formField]="sleepForm.startTime">
      <mat-timepicker-toggle matIconSuffix [for]="startTime"/>
      <mat-timepicker #startTime/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>End Time</mat-label>
      <input matInput [matTimepicker]="endTime" [formField]="sleepForm.endTime">
      <mat-timepicker-toggle matIconSuffix [for]="endTime"/>
      <mat-timepicker #endTime/>
    </mat-form-field>
  </div>
</ng-template>

<ng-template template-name="location">
  <mat-label>Location</mat-label>
  <mat-chip-listbox (change)="onLocationChange($event)" aria-label="Location">
    <mat-chip-option value="bassinet">Front</mat-chip-option>
    <mat-chip-option value="crib">Crib</mat-chip-option>
    <mat-chip-option value="contactNap">Contact Nap</mat-chip-option>
    <mat-chip-option value="stroller">Stroller</mat-chip-option>
    <mat-chip-option value="car">Car</mat-chip-option>
    <mat-chip-option value="other">Other</mat-chip-option>
    <!-- @if (sleepForm.location().value() === 'other') {
      <mat-form-field>
        <mat-label>Explain: </mat-label>
        <input matInput>
      </mat-form-field>
    } -->
  </mat-chip-listbox>
</ng-template>

<ng-template template-name="wakeReason">
  <mat-label>Wake Reason(s)</mat-label>
  <mat-chip-listbox multiple [formField]="sleepForm.wakeReason" aria-label="Rash">
    <mat-chip-option value="hungry">Hungry</mat-chip-option>
    <mat-chip-option value="diaper">Diaper</mat-chip-option>
    <mat-chip-option value="naturally">Naturally</mat-chip-option>
    <mat-chip-option value="unknown">Unknown</mat-chip-option>
  </mat-chip-listbox>
</ng-template>

<ng-template template-name="notes">
  <mat-form-field>
    <mat-label>Notes</mat-label>
    <input matInput [formField]="sleepForm.notes">
  </mat-form-field>
  <div>
    <mat-label>Quick Notes</mat-label>
    <mat-chip-listbox multiple (change)="onQuickNotesChange($event)" aria-label="Sleep quick notes">
    @for ( note of quickNotes; track note.description ) {
      <mat-chip-option>{{ note.description }}</mat-chip-option>
    }
    </mat-chip-listbox>
  </div>
</ng-template>

<h2 mat-dialog-title>Sleep Tracker</h2>
<div class="flex-1 flex flex-col">
  <form>
    <mat-stepper #stepper>
      @for (step of allSteps; track step.name;) {
        <mat-step>
          <ng-container [ngTemplateOutlet]="step.templateRef"></ng-container>
        </mat-step>
      }
    </mat-stepper>
  </form>
  <mat-dialog-actions align="start">
    <button matButton (click)="goBack()" [disabled]="stepper.selectedIndex === 0" type="button">Back</button>
    <button matButton (click)="goForward()" [disabled]="stepper.selectedIndex === stepper.steps.length-1" type="button">Next</button>
  </mat-dialog-actions>
</div>

<mat-dialog-actions>
  <button matButton mat-dialog-close>Cancel</button>
  <button matButton mat-dialog-close>Save</button>
</mat-dialog-actions>
